.wrapper {
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-bold);
  border-radius: var(--border-radius-button);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 100px;
  padding: 5px 16px;
  cursor: pointer;
  border: 1px solid transparent;
  user-select: none;
  background-color: var(--color-light);
  color: var(--black);

  + .wrapper {
    margin-left: 10px;
  }

  &.disabled {
    cursor: no-drop;
    opacity: 0.7;
  }
}
.icon + .title,
.title + .icon {
  margin-left: 8px;
}
// Button type
.rounded {
  color: var(--black-opacity-75);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 999px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
  border: 1px solid rgba(22, 24, 35, 0.12);
  &:hover {
    border-color: rgba(22, 24, 35, 0.2);
    background-color: rgba(255, 255, 255, 1);
  }
}
.primary {
  background-color: var(--primary-color);
  color: var(--color-light);
  border-color: var(--primary-color);

  &:hover {
    background: var(--button-hover-opacity-primary);
  }
}
.outline {
  background-color: var(--color-light);
  color: var(--primary-color);
  border: 1px solid;
  border-color: var(--primary-color);

  &:hover {
    background: var(--background-color-hover-outline);
    border-color: var(--primary-color);
  }
}

.text {
  &:hover {
    text-decoration: underline;
  }
}
.small {
  min-height: 28px;
  min-width: 88px;
  padding: 0 10px;
}
.large {
  width: 100%;
  padding: 14px 16px;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  text-align: center;
}
