@import 'normalize.css'; // không rõ

:root {
  --primary-color: rgba(254, 44, 85, 1);
  --black: rgba(22, 24, 35, 1);
  --black-hover: rgba(22, 24, 35, 0.03);
  --black-opacity-75: rgba(22, 24, 35, 0.75);
  --active-input: rgba(22, 24, 35, 0.2);
  --gray: #757575;
  --color-light: #fff;
  --background-light: #fff;
  --background-color-button-hover: rgba(22, 24, 35, 0.03);
  --gray-light: #757575;
  --background-search-light: rgba(22, 24, 35, 0.06);
  --text-color-link-light: rgb(125, 15, 15);
  --button-hover-light: rgba(22, 24, 35, 0.03);
  --button-gray-active: rgba(22, 24, 35, 0.06);
  --box-shadow: rgb(0 0 0 /12%) 0px 2px 12px;
  // default layout
  --default-layout-header-height: 60px;
  --default-layout-width: 1150px;
  --default-layout-horizontal-spacer: 24px;
  --default-layout-sidebar-width: 25%;
  --border-radius-button: 4px;

  // Button
  --button-hover-opacity-primary: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
  --background-color-hover-outline: rgba(254, 44, 85, 0.06);
  // font
  --font-family: 'ProximaNova', sans-serif;
  --font-size-title: 1.6rem;
  --font-weight-bold: 700;
}
html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font-family);
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}
button,
input,
[tabindex] {
  outline: none;
  border: none;
  font-family: var(--font-family);
}
a[href] {
  // color: var(--text-color-link-light);
  text-decoration: none;
}
// font emmbed
@font-face {
  font-family: ProximaNova;
  src: url('/assets/fonts/Proxima-Nova-Bold.woff2');
  font-weight: 700;
}
@font-face {
  font-family: ProximaNova;
  src: url('/assets/fonts/ProximaNova-Semibold.woff2');
  font-weight: 600;
}
@font-face {
  font-family: ProximaNova;
  src: url('/assets/fonts/Proxima-Nova-Regular.woff2');
  font-weight: 400;
}
@font-face {
  font-family: Sofiapro;
  src: url('/assets/fonts/sofiapro-bold.woff2');
  font-weight: 700;
}
// custom tooltip tippy
body {
  .tippy-box {
    background-color: rgba(84, 84, 84, 0.93);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.8;
    border-radius: 8px;
  }
  .tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
    color: rgba(84, 84, 84, 0.93);
    top: -8px;
  }
}
