@import 'normalize.css'; // không rõ
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
:root {
  --primary-color: rgba(254, 44, 85, 1);
  --black: rgba(22, 24, 35, 1);
  --gray: #757575;
  --background-color-button-hover: rgba(22, 24, 35, 0.03);
  --gray-light: #757575;
  --background-search-light: rgba(22, 24, 35, 0.06);
  --text-color-link-light: rgb(125, 15, 15);
  --button-hover-light: rgba(22, 24, 35, 0.03);
  --button-gray-active: rgba(22, 24, 35, 0.06);

  // default layout
  --default-layout-header-height: 60px;
  --default-layout-width: 1150px;
  --default-layout-sidebar-width: 25%;
}
html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Oswald', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}
button,
input,
[tabindex] {
  outline: none;
  border: none;
}
a[href] {
  color: var(--text-color-link-light);
  text-decoration: none;
}
