.menu {
  display: flex;
  flex-direction: column;
}
.item_menu {
  padding: 8px;
  font-weight: 700;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  transition: background-color ease-in-out 0.2s;
  border-radius: 4px;

  &:hover {
    background-color: rgba(22, 34, 35, 0.03);
  }
  &.active {
    color: var(--primary-color);

    .active_icon {
      display: flex;
    }

    .icon {
      display: none;
    }
  }
}
.icon {
  display: flex;
}
.active_icon {
  display: none;
}
