.menu_list {
  width: 224px;

  .menu_item {
    margin-left: 0 !important;
    width: 100%;
    justify-content: flex-start;
    border-radius: 0;
    font-weight: 400;
    padding: 8px 16px;
  }
}
.menu_item {
  &.separate {
    border-top: 1px solid rgba(22, 24, 35, 0.12);
  }
  &:hover {
    background-color: var(--background-color-button-hover);
  }
}
.menu_popper {
  padding-bottom: 8px;
}

// Header
.header {
  position: relative;
  height: 50px;
  margin-top: -8px;
}
.back_btn {
  width: 60px;
  height: 100%;
  background-color: transparent;
  cursor: pointer;
}
.header_title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
