.menu_list {
  width: 224px;

  .menu_item {
    margin-left: 0 !important;
    width: 100%;
    justify-content: flex-start;
    border-radius: 0;
    font-weight: 400;
    padding: 11px 16px;
  }
}
.menu_item {
  &:hover {
    background-color: var(--background-color-button-hover);
  }
}
.menu_popper {
  padding-bottom: 8px;
}
