.wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding-top: 8px;
  width: auto;
  max-height: min(100vh - 96px - 60px, 734px);
  min-height: 100px;
  border-radius: 8px;
  background-color: var(--background-light);
  box-shadow: var(--box-shadow);
}
