.wrapper {
  --search-border-radius: 92px;
  --search-button-width: 52px;
  width: 100%;
  height: var(--default-layout-header-height);
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
  display: flex;
  justify-content: center;
}

.inner {
  height: 100%;
  width: var(--default-layout-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
}
.search {
  display: flex;
  align-items: center;
  width: 361px;
  padding-left: 16px;
  background: var(--background-search-light);
  border-radius: var(--search-border-radius);
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin: 0;
  height: 46px;
  border: 1.5px solid transparent;
  input {
    font-size: 1.6rem;
    color: var(--black);
    background: transparent;
    height: 100%;
    flex: 1;
    caret-color: var(--primary-color);
  }
  input:not(:placeholder-shown) ~ .search_btn {
    color: var(--black);
  }
  &:focus-within {
    border: 1.5px solid var(--gray);
  }
}
.clear,
.loading {
  font-size: 1.6rem;
  right: calc(var(--search-button-width) + 16px);
  color: var(--gray-light);
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.search_btn {
  width: var(--search-button-width);
  height: 100%;
  font-size: 1.8rem;
  color: var(--gray);
  position: relative;
  &:hover {
    cursor: pointer;
    background: var(--background-color-button-hover);
  }
  &:active {
    background-color: var(--button-gray-active);
  }
  &::before {
    content: '';
    transform: translate(0, -50%);
    position: absolute;
    background-color: var(--gray);
    width: 1px;
    height: auto;
    left: 0;
    top: 50%;
    padding: 15px 0;
  }
}
