.wrapper {
  --search-border-radius: 92px;
  --search-button-width: 52px;
  width: 100%;
  height: var(--default-layout-header-height);
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
  display: flex;
  justify-content: center;
}

.inner {
  padding: 0 var(--default-layout-horizontal-spacer);
  height: 100%;
  width: var(--default-layout-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
// logo
.logo {
  display: flex;
}
// action
.action {
  display: flex;
  align-items: center;
}
.more_btn {
  font-size: 2rem;
  background: none;
  margin-left: 10px;
  padding: 9px 0 9px 16px;
}

.action_btn {
  font-size: 2.2rem;
  color: var(--black);
  background-color: transparent;
  min-width: 40px;
  padding: 4px 16px;
  display: flex;
}
.image_user {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 12px;
}
